<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Users</h1>
            </div>
            <div class="col-md-6">
 
            </div>
            <div class="col-md-2">
 
            </div>
          </div>
 
        </header>
      </section>
 
      <section class="main">
 
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>picture</th>
            <th>email</th>
            <th>city</th>
            <th>X</th>
            <th>Y</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="customer">
            <th scope="row">{{customer.id}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.picture}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.location.X}}</td>
            <td>{{customer.location.Y}}</td>
            <td>
            </td>
          </tr>
 
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>